.contactContainer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 2px solid #EA580C;
  display: inline-block;
}

.formAndAddress {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.formContainer {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.contactForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.contactForm input,
.contactForm textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.inputRow {
  display: flex;
  gap: 10px;
}

.inputRow input {
  flex: 1;
}

.sendButton {
  background-color: #EA580C;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sendButton:hover {
  background-color: #ff782f;
}

/* Address Section */
.addressContainer {
  flex: 0.8;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.addressTitle {
  font-size: 22px;
  font-weight: bold;
  border-bottom: 2px solid #EA580C;
  display: inline-block;
  padding-bottom: 5px;
  margin-bottom: 15px;
}

.addressItem {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  margin-bottom: 10px;
}

.icon {
  color: #f44336;
  font-size: 18px;
}

/* Google Map */
.mapContainer {
  width: 100%;
  height: 300px;
  margin-top: 20px;
}

.map {
  width: 100%;  
  height: 100%;
  border-radius: 8px;
  border: 1px solid #ccc;
}
