.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: rgb(255, 253, 253);
    border-bottom: 1px solid white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    transform: translateY(-100%); /* Initially hide the navbar */
    transition: transform 0.3s ease-out;
  }

.navCenter {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.navLinks {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navLinks li {
    margin: 0 15px;
    position: relative;
}

.navLinks a {
    text-decoration: none;
    font-size: 16px;
    color: #111827;
    font-weight: 500;
    transition: color 0.3s;
}

.navLinks a:hover {
    color: #6366F1;
}

.dropdownIcon {
    font-size: 12px;
    margin-left: 5px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .navCenter {
        flex-direction: column;
    }

    .navLinks {
        flex-direction: column;
        align-items: center;
    }

    .navLinks li {
        margin: 10px 0;
    }
}
